.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 12px;
}

@media (min-width: 768px) {
    .about {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px 20px;
    }
}

.about_title {
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .about_title {
        flex-basis: 100%;
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .about_title {
        font-size: 40px;
    }
}

.about_description {
    margin-bottom: 15px;
    text-align: justify;
}

@media (min-width: 768px) {
    .about_description {
        flex-basis: 60%;
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .about_description {
        flex-basis: 60%;
        font-size: 25px;
    }
}

.about_image {
    width: 225px;
}

@media (min-width: 1024px) {
    .about_image {
        width: 275px;
    }
}