.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 12px;
}

.contact_title {
    flex-basis: 100%;
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 15px;
}

.contact_mail {
    font-size: 23px;
}

.contact_icon {
    margin: 15px 0;
}

.contact_fab {
    font-size: 30px;
    cursor: pointer;
}