.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #202022;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    color: white;

}

.main_author {
    font-size: 36px;
}

@media (min-width: 768px) {
    .main_author {
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    .main_author {
        font-size: 44px;
    }
}

.main_description {
    font-size: 23px;
}

@media (min-width: 768px) {
    .main_description {
        font-size: 27px;
    }
}

@media (min-width: 1024px) {
    .main_description {
        font-size: 31px;
    }
}