.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 12px 30px 12px;
}

@media (min-width: 768px) {
    .project {
        padding: 30px 20px 40px 20px;
    }
}

@media (min-width: 1024px) {
    .project {
        padding: 30px 80px 40px 80px;
    }
}

.project_title {
    flex-basis: 100%;
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 15px;
}

@media (min-width: 1024px) {
    .project_title {
        font-size: 40px;
    }
}

.project_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 350px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.project_fab {
    font-size: 50px;
    color: black;
}

.project_paragraph {
    font-size: 20px;
}