.skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 45px 12px;
}

.skills_title {
    align-self: flex-start;
    font-size: 30px;
    margin-bottom: 15px;
}

.skills_list {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

/* .skills_fab {
    flex-basis: 50%;
} */

.fa-html5 {
    font-size: 50px;
    color: rgb(223, 59, 0);
}

.fa-css3-alt {
    font-size: 50px;
    color: rgb(93, 190, 223);
}

.fa-js {
    font-size: 50px;
    color: rgb(250, 250, 45);
}

.fa-sass {
    font-size: 50px;
    color: purple;
}

.fa-git-alt {
    font-size: 50px;
    color: orangered;
}